<div class="footerMainContainer">
    <div class="container">
        <div class="row footerContain">
            <div class="col col-lg-6 col-12">
                <h3 class="getintouch">Get in Touch</h3>
                <p class="infoText">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab laboriosam eaque distinctio consectetur quo quas ratione illum exercitationem consequuntur.</p>
                <div class="input-group formMargin ">
                    <input type="text" class="form-control inputClass" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1">
                    <input type="text" class="form-control" placeholder="Mobile No" aria-label="Phone" aria-describedby="basic-addon1">
                  </div>

                  <div class="input-group">
                    <textarea class="form-control" aria-label="With textarea" placeholder="Comments"></textarea>
                  </div>
                  <button type="button" class="btn btn-outline-primary contactBtn">Submit</button>
            </div>
            <div class="col col-lg-2 col-12"></div>
            <div class="col col-lg-4 col-12 address">
                <h3 class="getintouch">Contact Info</h3>
               <ul class="footerAddress">
                   <li>Krishnagar , Nadia</li>
                   <li>test@gmail.com</li>
                   <li>+912222222222</li>
               </ul>
                
            </div>
        </div>
    </div>
</div>
<div class="copyRightMainContainer">
<div class="container">
    <p class="copyRight"> Copyrights &copy; {{copyDate}} Neer. All Rights Reserved</p>
</div>
</div>