<div class="container">
    <div class="row testimonialContain">
        <div class="col col-12 titleService">
            <h3><span class="titlePref">Testi</span>monials</h3>
        </div>
        <div class="col col-lg-4 col-12">
            <div class="leftclass"><img src="assets/works.jpg" class="leftImg" alt="testimonals"></div>
            <div class="rightclass">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae culpa doloremque numquam facilis animi
                    nemo voluptas repellat provident nulla temporibus dolor, nobis accusantium fuga voluptate autem
                    labore quod quidem cum.</p>
                <br>
                <span class="author">-- testimonals</span>
            </div>
        </div>
        <div class="col col-lg-4 col-12">
            <div class="leftclass"><img src="assets/works.jpg" class="leftImg" alt="testimonals"></div>
            <div class="rightclass">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae culpa doloremque numquam facilis animi
                    nemo voluptas repellat provident nulla temporibus dolor, nobis accusantium fuga voluptate autem
                    labore quod quidem cum.</p>
                <br> <span class="author">-- testimonals</span>
            </div>
        </div>
        <div class="col col-lg-4 col-12">
            <div class="leftclass"><img src="assets/works.jpg" class="leftImg" alt="testimonals"></div>
            <div class="rightclass">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae culpa doloremque numquam facilis animi
                    nemo voluptas repellat provident nulla temporibus dolor, nobis accusantium fuga voluptate autem
                    labore quod quidem cum.</p>
                <br><span class="author">-- testimonals</span>
            </div>
        </div>
        <div class="col col-lg-4 col-12">
            <div class="leftclass"><img src="assets/works.jpg" class="leftImg" alt="testimonals"></div>
            <div class="rightclass">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae culpa doloremque numquam facilis animi
                    nemo voluptas repellat provident nulla temporibus dolor, nobis accusantium fuga voluptate autem
                    labore quod quidem cum.</p>
                <br> <span class="author">-- testimonals</span>
            </div>
        </div>
        <div class="col col-lg-4 col-12">
            <div class="leftclass"><img src="assets/works.jpg" class="leftImg" alt="testimonals"></div>
            <div class="rightclass">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae culpa doloremque numquam facilis animi
                    nemo voluptas repellat provident nulla temporibus dolor, nobis accusantium fuga voluptate autem
                    labore quod quidem cum.</p>
                <br> <span class="author">-- testimonals</span>
            </div>
        </div>
        <div class="col col-lg-4 col-12">
            <div class="leftclass"><img src="assets/works.jpg" class="leftImg" alt="testimonals"></div>
            <div class="rightclass">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae culpa doloremque numquam facilis animi
                    nemo voluptas repellat provident nulla temporibus dolor, nobis accusantium fuga voluptate autem
                    labore quod quidem cum.</p>
                <br> <span class="author">-- testimonals</span>
            </div>
        </div>
    </div>
</div>